<div class="center-container">
  <div class="registration-form">
    <h2 class="form-heading">Registrierungsformular</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <mat-label>Benutzername</mat-label>
          <input matInput formControlName="benutzername">
          <mat-error>Bitte Wert eingeben!</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Organisatiom</mat-label>
          <input matInput formControlName="organisation">
          <mat-error>Bitte Wert eingeben!</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>DataUrl des Connectors</mat-label>
          <input matInput formControlName="dataUrl">
          <mat-error>Bitte Wert eingeben!</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>IdsUrl des Connectors</mat-label>
          <input matInput formControlName="idsUrl">
          <mat-error>Bitte Wert eingeben!</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Url des Datenspeichers</mat-label>
          <input matInput formControlName="storageEndpoint">
          <mat-error>Bitte Wert eingeben!</mat-error>
        </mat-form-field>
      </div>
      <button color="primary" mat-raised-button type="button" (click)="onSubmit()" [disabled]="!registrationForm.valid">Senden</button>
    </form>
  </div>
</div>


