@import 'modules/styles/theme';
@import 'modules/styles/mixins';

html, body {
    height: 100%;
}

body {
  margin: 0;
}

.snackbar-info-style {
  background-color: orange;
  color: black;
}

.snackbar-error-style {
  background-color: crimson;
  color: black;
}

.code{
  font-family: monospace;
  font-size: larger;
}

.headline {
  @include calluna-font();
  color: $primary;
  font-size: 36px !important;
  font-weight: bold !important;
}
